<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (products.length > 0) { %>
            <ul class="cart__item-list">
                <% products.forEach(product => { %>
                    <li class="cart__item">
                        <h1><%= product.productId.title %></h1>
                        <h2>Quantity: <%= product.quantity %></h2>
                        <input type="hidden" name="productID" value="<%= product.productId._id %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn" onclick="deleteCartProduct(this)">Delete</button>
                    </li>
                <% }); %>
            </ul>
            <hr>
            <div class="centered">
                <a class="btn" href="/checkout">ORDER</a>
            </div>          
        <% } else { %>
            <h1>No products</h1>
        <% } %>
    </main>
    <script src="/js/deletion.js"></script>
</body>

</html>